@font-face {
  font-family: 'Pixar';
  src: url('../assets/fonts/Pixar.ttf');
}

@font-face {
  font-family: 'Brandon';
  src: url('../assets/fonts/Brandon_med.otf');
}

body {
  background: url('../assets/background/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}

@media (max-width:960px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: scroll;
  }
}