.scoreboard-container {
  display: flex;
  justify-content: center;
  font-family: Brandon;
  font-size: 1.25em;
  letter-spacing: 3px;
}

.scoreboard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #ffffff;
  user-select: none;
}

.current-score {
  width: 243px;
  display: flex;
  justify-content: space-between;
}

.best-score {
  width: 179px;
  display: flex;
  justify-content: space-between;
}